---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/main/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: alertmanager-discord
  labels:
    app.kubernetes.io/name: kube-prometheus-stack
    app.kubernetes.io/component: alertmanager
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: bitwarden-secretsmanager
  target:
    name: alertmanager-discord
    creationPolicy: Owner
    deletionPolicy: Retain
  data:
    - secretKey: webhook-url
      remoteRef:
        key: alertmanager-discord-webhook-url
