---
apiVersion: velero.io/v1
kind: Schedule
metadata:
  name: immich-daily
  namespace: velero
  labels:
    app.kubernetes.io/name: velero
    app.kubernetes.io/component: backup-schedule
    app.kubernetes.io/part-of: immich
spec:
  schedule: "0 2 * * *"
  template:
    includedNamespaces:
      - immich
    includedResources:
      - '*'
    defaultVolumesToFsBackup: true
    storageLocation: default
    ttl: 720h0m0s
    includeClusterResources: true
    metadata:
      labels:
        app.kubernetes.io/name: immich
        backup-type: scheduled
  useOwnerReferencesInBackup: false
