---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: dragonfly
spec:
  interval: 1h
  chart:
    spec:
      chart: dragonfly
      version: v1.37.0
      sourceRef:
        kind: HelmRepository
        name: dragonfly
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    replicaCount: 1
    extraArgs:
      - --proactor_threads=1
      - --cluster_mode=emulated
      - --default_lua_flags=allow-undeclared-keys
    storage:
      enabled: true
      requests: 2Gi
    resources:
      requests:
        memory: 256Mi
        cpu: 100m
      limits:
        memory: 512Mi
