---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      tag: v2.5.2

    immich:
      persistence:
        library:
          existingClaim: immich-library

    controllers:
      main:
        containers:
          main:
            env:
              DB_HOSTNAME: immich-postgres-rw
              DB_PORT: "5432"
              DB_USERNAME: immich
              DB_DATABASE_NAME: immich
              DB_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: immich-postgres-app
                    key: password
              DB_VECTOR_EXTENSION: vectorchord
              REDIS_HOSTNAME: dragonfly
              REDIS_PORT: "6379"

    server:
      enabled: true

    machine-learning:
      enabled: true
      persistence:
        cache:
          enabled: true
          type: emptyDir
          sizeLimit: 10Gi
