---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: immich
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      tag: v2.5.2

    immich:
      persistence:
        library:
          existingClaim: immich-library

    server:
      enabled: true

    machine-learning:
      enabled: true
      persistence:
        cache:
          type: pvc
          accessMode: ReadWriteOnce
          size: 10Gi

    redis:
      enabled: true
      architecture: standalone
      auth:
        enabled: false

    postgresql:
      enabled: true
      global:
        postgresql:
          auth:
            username: immich
            database: immich
      primary:
        persistence:
          enabled: true
          size: 10Gi
