---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: immich
spec:
  parentRefs:
    - name: external
      namespace: kube-system
      sectionName: https
  hostnames: ["immich.endsys.cloud"]
  rules:
    - backendRefs:
        - name: immich-server
          port: 2283
