---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-library
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  volumeName: immich-library-pv
  resources:
    requests:
      storage: 1Ti
