---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./helmrelease.yaml
configMapGenerator:
  - name: obsidian-livesync-couchdb-config
    files:
      - local.ini=./resources/local.ini
generatorOptions:
  disableNameSuffixHash: true
