---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: seaweedfs-nfs-pv
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  nfs:
    path: /data/seaweedfs
    server: 10.127.0.5
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: seaweedfs-nfs-pvc
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  volumeName: seaweedfs-nfs-pv
  resources:
    requests:
      storage: 1Ti