---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pricebuddy-storage
  labels:
    app.kubernetes.io/name: pricebuddy
    app.kubernetes.io/component: app
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pricebuddy-mysql-data
  labels:
    app.kubernetes.io/name: pricebuddy
    app.kubernetes.io/component: database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
